* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;   
}

$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-white: #fff;
$color-black: rgb(17, 4, 4);
$color-light: rgba(255, 255, 255, 0.6);
$color-black-variant: rgb(32, 13, 13);
$color-primary:  #4db5ff;
$color-primary-variant: rgba(77,181, 255, 0.4);
$color-primary-variant2: #2c9cec;
$color-background-variant: #f9f9f9;


$transition: all 0.3s ease-in-out;

// Media Query
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$mobile-width: 600px;
$pc-width: 1024px;

// map holding breakpoint values
$breakpoints: (
  mobile : 375px, 
  tablet : 768px, 
  desktop: 1024px,
  desktopHeight: 830px
);

// mixin to print out media queries (based on map keys passed) 


@mixin media($key, $height:"") {
    @if $height != "" {
        @media screen and (min-width: map-get($breakpoints, $key)) and (min-height: map-get($breakpoints, $height)) {
            @content
        }
    } @else {
        @media screen and (min-width: map-get($breakpoints, $key)) {
            @content
        }
    }
}








