$primary-color: #272727;
$primary-color-variant: #ff652f;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$color-primary:  #4db5ff;
$color-primary-variant: rgba(77,181, 255, 0.4);

//Media Query
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm:90%;