@import './scss/_variables';

html, body{
    min-height:100%;
    width: 100%;
}


html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 40, 49);
    color: $color-black;
    list-style: 1.7;

}

.text-light {
    color: $color-black-variant;
}

.container {
    width: $container-width-lg;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1rem;
}

section {
    margin-top: 8rem;
    height: 77vh;
}


a {
    color: $color-primary;
    transition: $transition;

    &:hover {
        color: $color-bg-variant;
    }
}

.copyright {
    width: 100%;
    padding: 2rem 0 0;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  
    p {
      text-transform: uppercase;
      color: var(--black-color);
    }
}


.btn {
    width: max-contact;
    display: inline-block;
    color: $color-primary;
    padding: .75rem 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    border: .0625rem solid $color-primary;
    transition: $transition;

    &:hover {
      background: $color-white;
      color: $color-bg;
      border-color: transparent;  
    }
    &-primary {
        background: $color-primary;
        color: $color-bg;
    }
}

/* Media Queries for medium devices */
@media screen and (max-width: 1024px) {
    .header {
       width: $container-width-md;
    }

    section {
        margin-top: 6rem;
    }
}

/* Media Queries for small devices */
@media screen and (max-width:  600px) {
    .container {
       width: $container-width-sm;
    }

    section {
        .h2 {
            margin-top: 2rem;
        }
    }
}