@import "../../scss/_variables";

.nav {
    width: 100%;
    height: 4.375rem;
    background-color: white;
    color: $color-primary;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
  
    .wrapper {
      padding: .625rem 1.875rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .left {
        display: flex;
        align-items: center;
  
        .logo {
          font-size: 1.5rem;
          font-weight: 700;
          text-decoration: none;
          color: inherit;
          margin-right: 2.5rem;

          @include media(tabet){
            font-size: 2rem;
          } 

        }
  
        .itemContainer {
          align-items: center;
          margin-left: 1.875rem;
          display: none;
  
          @include media(tablet){
            display: flex;
          }

          a {
            text-transform: capitalize;
          }
  
          .icon {
            font-size: 1.125rem;
            margin-right: .3125rem;
          }
  
          span {
            font-size: .9375rem;
            font-weight: 500;
          }
        }
      }
  
      .right {
        .hamburger {
          width: 2rem;
          height: 1.5625rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
  
          span {
            width: 100%;
            height: .1875rem;
            background-color: $color-primary;
            transform-origin: left;
            transition: all 2s ease;
          }
        }
      }
    }
  
    &.active {
      background-color: $color-primary;
      color: white;
  
      .hamburger {
        span {
          &:first-child {
            background-color: white;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            background-color: white;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }